<style>

#header1:hover{
    color: grey;
}   
    


#header2:hover{
    color: grey;
    
    
}

#header3:hover{
    color: grey;
    
}

#header4:hover{
    color: grey;
    
}

#header5:hover{
    color: grey;
    
}

#f1{
    background-color: orange;
    border-radius: 30px;
    width: 1330px;
    height: 60px;
    vertical-align: middle;
    
}