

#div1{
    width: 20%;
    height: 50px;
    background-color: orange;
    float: left;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
}

#div2{
    width: 20%;
    height: 50px;
    background-color: orange;
    float: left;
    text-align: center;
}

#div3{
    width: 20%;
    height: 50px;
    background-color: orange;
    float: left;
    text-align: center;
}

#div4{
    width: 20%;
    height: 50px;
    background-color: orange;
    float: left;
    text-align: center;

}

#div5{
    width: 20%;
    height: 50px;
    background-color: orange;
    float: left;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
}

#div1:hover{
color: grey;
}

#div2:hover{
    color: grey;
}

#div3:hover{
    color: grey;
}

#div4:hover{
    color: grey;
}

#div5:hover{
    color: grey;
}



#intro{
    width: 700px;
    height: 300px solid black;
    padding: 25px;
    margin: 25px;
    border-radius: 30px;
    border: solid black;
    background-color: rgb(183, 232, 252);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boxes{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    background-color: white;
    color: black;
    width: 900px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    overflow: auto;
    border: 2px solid black;
    position: relative;
    left: 15%;
    right: 25%;
}



.p padding{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 60px;
    padding-left: 60px;
}