

#div1{
    width: 20%;
    height: 50px;
    background-color: orange;
    float: left;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    text-align: center;
}

#div2{
    width: 20%;
    height: 50px;
    background-color: orange;
    float: left;
    text-align: center;
}

#div3{
    width: 20%;
    height: 50px;
    background-color: orange;
    float: left;
    text-align: center;
}

#div4{
    width: 20%;
    height: 50px;
    background-color: orange;
    float: left;
    text-align: center;

}

#div5{
    width: 20%;
    height: 50px;
    background-color: orange;
    float: left;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    text-align: center;
}

#div1:hover{
color: grey;
}

#div2:hover{
    color: grey;
    }

#div3:hover{
    color: grey;
}

#div4:hover{
    color: grey;
}

#div5:hover{
    color: grey;
}
/*以上为第一栏导航栏悬停效果设置*/




*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

.boxes{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.box{
    background-color: white;
    color: black;
    width: 860px;
    height: 350px;
    border-radius: 20px;
    text-align: center;
    overflow: auto;
    border: 3px solid black;
    position: relative;
    left: 10%;
    right: 15%;
    transform: translateY(300%);
    margin: 100px;
}





#content{
    background-image: url(./images/background_Homepage.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;

}
/*AboutUs部分*/
.boxs{
    background-color: rgb(236, 230, 214);
    color: black;
    width: 850px;
    height: 600px;
    border-radius: 30px;
    text-align: center;
    overflow: auto;
    border: 5px solid grey;
    position: relative;
    left: 10%;
    right: 15%;
    transform: translateY(300%);
    margin: 50px;
}

.boxcd1{
    background-color: rgb(236, 230, 214);
    width: 170px;
    height: 350px;
    position: absolute;
    left: 100px;
    top: 20%;
    border-radius: 30px;
    border: solid 3px purple;
}


.boxcd2{
    background-color: rgb(236, 230, 214);
    width: 170px;
    height: 350px;
    position: absolute;
    left: 360px;
    top: 23%;
    border-radius: 30px;
    border: solid 3px purple;
}

.boxcd3{
    background-color: rgb(236, 230, 214);
    width: 170px;
    height: 350px;
    position: absolute;
    left: 620px;
    top: 20%;
    border-radius: 30px;
    border: solid 3px purple;
}

.boxs1{
    background-color: rgb(236, 230, 214);
    color: black;
    width: 850px;
    height: 600px;
    border-radius: 30px;
    text-align: center;
    overflow: auto;
    border: 5px solid grey;
    position: relative;
    left: 15%;
    right: 15%;
    transform: translateY(300%);
    margin: 50px;
}
.boxs2{
    background-color: blue;
    color: black;
    width: 850px;
    height: 600px;
    border-radius: 30px;
    text-align: center;
    overflow: auto;
    border: 5px solid grey;
    position: relative;
    left: 15%;
    right: 15%;
    transform: translateY(300%);
    margin: 50px;
}

.boxs3{
    background-color: rgb(236, 230, 214);
    color: black;
    width: 850px;
    height: 600px;
    border-radius: 30px;
    text-align: center;
    overflow: auto;
    border: 5px solid grey;
    position: relative;
    left: 15%;
    right: 15%;
    transform: translateY(300%);
    margin: 50px;
}